/* header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1;
}  */
 
* {
    left: 0px;
}

main {
    margin-top: 200px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
  
ul li {
    display: inline-block;
    margin-right: 10px; /* adiciona um espaçamento entre os itens */
}
  
ul li:hover {
    /* background-color: #404040; */
    text-decoration-line: underline;
}

img {
    width: 600px;
    height: 350px;
}

figure {
    /* font-weight: bold; */
    font-style: italic;
}

video {
    width: 210px;
    height: 300px;
}

img, video, table, input, select, textarea {
    border-radius: 5px;
}

/* text::placeholder, textarea::placeholder {
    color: #aaaaaa;
} */

.dark-mode {
    background-color: #303030;
    color: #eeeeee;
}

.dark-mode header {
    position: fixed;
    padding-left: 10px;
    top: 0px;
    width: 100%;
    background-color: #202020;
    color: #eeeeee;
    z-index: 1;
 }

.light-mode {
    background-color: #eeeeee;
    color: #252525;
}

.light-mode header {
    position: fixed;
    padding-left: 10px;
    top: 0px;
    width: 100%;
    background-color: #e7e7e7;
    color: #252525;
    z-index: 1;
 }

#modoBotao {
    position: relative;
    display: inline-block;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    padding: 10px;
  }
  
  #modoBotao::before,
  #modoBotao::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
  }
  
  #modoBotao::before {
    background-image: url('./img/icone-lua.png');
    background-size: cover;
    left: 10px;
  }
  
  #modoBotao::after {
    background-image: url('./img/icone-sol.png');
    background-size: cover;
    right: 10px;
  }
  
  #modoBotao.dark-mode::before {
    display: none;
  }
  
  #modoBotao.light-mode::after {
    display: none;
  }
  